{% extends 'page.html.twig' %}

{% set  header_image = media.images[header.feature_image].url %}

{% block page_content %} 
{{ parent() }}
{% set collection = page.collection() %}
    
<div id="contact-page" class="container">

    <p class="text-center">
        <img src="{{ theme_url ~ "/dist/images/logo_jwp_splatter.png" }}">
    </p>

    <div class="row">
        <div class="col-md-6 info-section">
            <h2>Info</h2>
            <p>If you have any inquiries, please contact me at <a href="mailto:jwilliam.perreault@gmail.com">jwilliam.perreault@gmail.com</a></p>
        </div>    
        <div class="col-md-6 social-section">
            <h2>Social Links</h2>
            <div class="contact-social-links text-left">
                <a class="btn btn-ghost" href="https://github.com/jwillp"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

{#     <div class="contact-form">
        {{ collection.first().content }}
    </div> #}
</div>{# #homepage #}
{% endblock page_content %}