{% extends 'page.html.twig' %}

{% set  header_image = media.images[header.feature_image].url %}
    
{% block page_content %}
    <div class="container">
        {{ page.content }}
    </div>
{% endblock page_content %}