
{% extends 'page.html.twig' %}





{# DETERMINE FEATURE IMAGE #}
{% set feature_image = page.header.feature_image|defined(true) %}
{% set feature_image_width  = page.header.feature_image_width|defined(300) %}
{% set feature_image_height = page.header.feature_image_height|defined(300) %}
{% set feature_image_file = page.header.feature_image_file %}
{% if feature_image %}
    {% if feature_image_file %}
        {% set feature_image_media = page.media.images[feature_image_file].url %}
    {% else %}
        {% set feature_image_media = page.media.images|first.resize(300, 300).url %}
    {% endif %}
{% endif %}

{% set  header_image = feature_image_media %}
{%  set page_subtitle = page.header.category %}


{% block page_content %}
    <div id="page-wrapper"  class="container">
        <div class="project-view">
            {{ page.content }}
        </div>
    </div>
{% endblock %}