//------------------------------------------------------------------------------
// GLOBAL IMPORTS
//------------------------------------------------------------------------------
@import "mixins";
@import "web-fonts";


//------------------------------------------------------------------------------
// FONT VARIABLES
//------------------------------------------------------------------------------

$web-fonts-protocol: "https";
@import url(web-fonts-url("Roboto"));
@import url(web-fonts-url("Roboto Slab"));
@import url(web-fonts-url("Saira"));
@import url(web-fonts-url("Lato"));

//----------------------------------------
//  VARIABLES GLOBALES
//----------------------------------------

$cold-gray: #1C1C1C;
$mine-shaft: #2F2F2F;
$boulder: #797979;
$alabaster: #F8F8F8;

$primary-color: #e67e22;



//----------------------------------------
// IMPORTS
//----------------------------------------
// Import custom Bootstrap variables
@import "customVariables";
// Import Bootstrap for Sass
@import "bootstrap";


// ----------------------------------------
// STYLE GÉNÉRAL
// ----------------------------------------
body, html {
    height: 100%;
    background-color: $alabaster;
}

body {
    font-family: "Open Sans" !important;
    color: $mine-shaft;
    background-color: $alabaster;
    font-size: 16px;
}

h2, h3, h4, h5, h6{
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    color: $cold-gray;
    font-family: "Saira";
    font-weight: bold;
    text-transform: uppercase;
}

h2, h3 {
    color: $mine-shaft;
}

h4, h5, h6{
    color: $mine-shaft;
}

.page-wrapper{
    width: 100%;
    height: 100%;
}


.btn {
    border-radius: 0px;
    border: 2px solid $primary-color;
}

.btn-ghost {
    background-color: transparent;
    color: $primary-color;
    font-weight: bold;
    padding: 15px;

    &:hover, .btn-active{
        background-color: $primary-color;
        color: $alabaster;
    }
}

.btn-ghost.btn-active {
    background-color: $primary-color;
    color: $alabaster;
} 

.bold {
    font-style: bolder;
    color: $primary-color;
}

.form-control {
    border-radius: 0px;
    //border: 1px solid #F0F0F0;
    background-color: transparent;
    color: $primary-color;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 30px;
}


// custom icons
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?740wtb');
  src:  url('../fonts/icomoon.eot?740wtb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?740wtb') format('truetype'),
    url('../fonts/icomoon.woff?740wtb') format('woff'),
    url('../fonts/icomoon.svg?740wtb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.scroll-icon {
    width: 50px;
    height: 50px;
    
    text-align: center;
    font-size: 32px;
    color: $alabaster;

    border: 2px solid $alabaster;
    //border-radius: 300px;

    &:hover {
        color: $alabaster;
    }
}



.scroll-down-icon {
    position: absolute;
    bottom: 5%;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    color: $alabaster;
    border-color: $alabaster;
    border: none;
    //background-color: $mine-shaft;
    background-color: $primary-color;

    @include card(2);
    &:hover, &:active {
        color: $alabaster;
    }

}

.scroll-up-icon {
    position: fixed;
    bottom: 15%;
    right: 5%;
    color: $alabaster;
    border-color: $alabaster;
    border: none;
    //background-color: $mine-shaft;
    background-color: $primary-color;

    @include card(2);
    &:hover, &:active {
        color: $alabaster;
    }
}


// ----------------------------------------
// HEADER
// ----------------------------------------
#header {
    background-color: transparent;
    min-height: 125px;
    border: none;

    position: absolute;
    top: 0px;
    width: 100%;

    .navbar-nav {
        margin-top: 30px;
        li a { 
            color: $alabaster; 
            text-transform: uppercase;
        }

        li.active a{ 
            border-bottom: 2px solid $primary-color;
            font-weight: bold;
        }
        li a:hover {
            font-weight: bold;
            color:  darken($alabaster, 20%);

            //border-bottom: 2px solid $alabaster;
            animation-name: nav_hover;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        @keyframes nav_hover {
            from { border-bottom: 2px solid $alabaster; }
            to { border-bottom: 2px solid $primary-color; }
        }

        .fa {
            font-size: 16px;
        }
        .icon-beatport {
            font-size: 20px;
        }
    }

    .navbar-header button {
        margin-top: 30px;
        border: none;
    }
    .navbar-brand {
        margin-bottom: 25px;
        max-width: 300px;
        width: 100%;
    }
}

#logo {
    width: 100%;
    height: auto;

    &.visible-xs {
        width: 200px;
        margin-top: 10px;
    }
}



// nav mobile menu
.navbar-default .navbar-toggle .icon-bar {
    background-color: $alabaster !important;
}


.navbar-toggle {
    position: absolute;
    top: 5px;
    right: 10px;
}

.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
    background-color: transparent !important;
}

.social-link {
    a {
        padding: 15px 5px !important; 
    }
}

.collapse.in, .collapsing {
    border: none;

    .navbar-nav  {
        background-color: transparentize($cold-gray, 0.2);
    }

    .social-link {
        a {
            padding: 15px 15px !important; 
        }
    }

    li {
        border-bottom: 1px solid $mine-shaft;
    }
}
.collapse.in > ul > li.active > a, .collapsing > ul > li.active > a {
        background-color: $primary-color;

}

// ----------------------------------------
// CONTENT
// ----------------------------------------
.fullscreen-hero { 
    /* The image used */
    background-image: url("");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.6);

    padding-top: 155px;

    text-align: center;

    h1{
        color: $alabaster;
    }
}

.halfscreen-hero {
    @extend .fullscreen-hero;
    height: 50%;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    h1,h2 {
        color: $alabaster;
    }

    h1 {
        font-size: 4em;
    }
}

#page-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}


// HOME PAGE
.front-tile {
    text-align: center;
    a {
        display: block;
        padding-top: 25%;
        padding-bottom: 25%;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 24px;
        color: $alabaster;
    }
}

.content-container h1, h2, h3, h4, h5, h6{
    //text-align: center;
}

.pagination-wrapper {
    text-align: center;

    .psr-pagination {
        @extend .list-inline;
    }

    .btn {
        width: 50px;
        height: 50px;
    }
}

// PROJECT VIEW
.project-view-thumbnail {
    margin: 0px 20px 20px 20px;

}

// PROJECT LIST
#project-list {

    margin-bottom: 40px;
    .row {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 40px;
    }
}

.project-list-item > [class^="col-"],
.project-list-item > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.project-list-item {
    /* Make sure images don't get too big */
    img {
      max-width: 100%;
      width: 100%;
       z-index:1;

       @include card(2);
    }

    .project-name {
        position: absolute;
        top: 0;
        left: 0;
        color: $alabaster;
        background-color: $primary-color;
        width: 100%;
        height: 100%;


        padding: 20%;
        padding-top: 45%;

        text-align: center;
        z-index: 10;
        opacity: 0;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin: 0;
    }
    .project-name:hover {
        opacity:1;
    }
}

.project-view {
    img {
        margin: auto;
        margin-top: 30px;
        //margin-bottom: 30px;
        @extend .img-thumbnail;
        display: block;
    }

    img + em {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
}


// BLOG
.blog-post {
    img {
        margin: auto;
        margin-top: 30px;
        //margin-bottom: 30px;
        @extend .img-thumbnail;
        display: block;
    }

    img + em {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
}

.blog-post-view-thumbnail {
    margin-right: 20px;
}

// Contact 
.contact-social-links {
    text-align: center;
    height: 100%;

    .btn {
        width: 50px;
        height: 50px;

        padding: 0;
        padding-top: 5px;
        font-size: 24px;
    }

    .icon-beatport {
        font-size: 30px;
        line-height: 1.2;
    }
}

.contact-form {
    margin-top: 30px;
    p {
        text-align: center;
    }
    button {
        margin-top: 30px;
    }
}

// ----------------------------------------
// FOOTER
// ----------------------------------------
#footer {
    background-color: $cold-gray;
    color: $boulder;
    text-align: center;

    border-top: 20px solid darken($primary-color, 0.3);


    .footer-logo {
        margin: 20px;
        margin-top: 40px;
        img {
            max-width: 300px;

            @include breakpoint(xs) {
                width: 200px;
            }
        }
    }



    .footer-social-links {
        margin: 10px;
        a {
            margin: 10px;
            color: $boulder;
            .fa {
                font-size: 20px;
            }
        }
    }

    .footer-copyright-notice {
        margin-top: 40px;
        padding-bottom: 40px;
    }
}